*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

    .main-nav-active{
      color: grey;
      list-style: none;
      text-decoration: none;
      font-weight: bold;
      border-bottom: 2px solid red;
    }

    .navbar ul{
      width: 60%;
      height: 100%;
      display: flex;
    }

    .navbar ul li{
        list-style: none;
        margin-left: 50px;
        width: 100%;
    }

  .navbar .main-logo-active{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-left: 50px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .searchbox{
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%,-50%);
    
  }

  .searchbox input{
    width: 500px;
    height: 60px;
    font-size: 25px;
    border: 3px solid rgb(121, 48, 255);
    border-radius: 5px;
    outline: none;
    padding-left: 15px;
  }
.container{
  position: relative;
  top: 230px;
  left: 0;
  width: 100%;
  height: auto;
}

.container .card:hover{
  transform: translateY(10px);
}
  

 .container .card{
   display: flex;
    margin: 30px;
    width: 300px;
    height: 350px;
    background: linear-gradient(blue,red);
    border-radius: 8px;
   float: left;
   box-shadow: 0px 15px 20px 10px rgb(0,0,0,0.5);
   overflow: hidden;
   transition: 0.5s ease-in-out;
   cursor: pointer;
  }
  .container .card .image{
  width: 100%;
  height: 100%;
  background-size: cover;
  
}
.container .card .image img{
  width: 300px;
  height: 270px;
}
.container .card .content{
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
width: 100%;
height: 100px;

}

.container .card .content h2{
  font-size: 20px;
  margin-left: 10px;
}

.container .card .content p{
  font-size: 15px;
  margin-top: -10px;
  margin-left: 10px;
}
.container .card .content button{
  background: none;
  border-radius: 5px;
  border: 2px solid green;
  width: 100px;
  height: 30px;
  margin-top: -40px;
  margin-left: 10px;
  color:green;
  transition: all 0.5s;
}

.container .card .content button:hover{
  background: green;
  color: white;
}


.library{
  position: relative;
  top: 210px;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
}

.library .image{
  width: 40%;
  height: auto;
  margin-left: 80px;
  
 background-size: cover;
}

.library .image img{
  width: 450px;
  height: 400px;
}

.library .content{
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 400px;
  justify-content: center;
  text-align: center;
  
}
.library .content h1{
  color: #000.8;
}
.library .content p{
font-size: 15px;
text-align: left;
margin-top: 15px;
}
.form{
  width: 700px;
  height: auto;
  margin-left: 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.form label{
 width:100%;
 margin-left: 100px;
  text-align: left;
  align-items: left;
  justify-content: left;
}

.form input{
  margin:5px;
  width: 500px;
  height: 40px;
  outline: none;
}

.form button{
  width: 120px;
  height: 40px;
  border-radius: 8px;
  border: 3px solid royalblue;
  background: none;
  transition:all 0.6s;
  color: royalblue;
  font-size: 15px;
  margin-top: 10px;
}
.form button:hover{
  background: royalblue;
  color: white;
}






